/* Styling for application -------------------*/
/*Home content styling -------------------- */
#home-content {
    margin-top: 12%;
}
/*card styling ----------------------------*/
.card {
    border: 1px solid gold;
}
.home-card {
    height: 160px;
    box-shadow: 3px 3px 20px, inset 0 0 0 2000px rgba(251,192,45, 0.892);
}
#card-image {
    height: 180px;
}

/*Text styling ---------------------------*/

h2, .card-title {
    font-family: 'Amita', cursive;
    color:black;
    text-shadow: 1px 1px 0px black, 4px 4px 0px rgba(0,0,0,0.15);
  }
  h2 {
    color:rgba(251,192,45);
}
h5 {
    color: #fbc02d;
    font: 400 100px/1.1 'Berkshire Swash', Helvetica, sans-serif;
    text-shadow: 1px 1px 0px black, 4px 4px 0px rgba(0,0,0,0.15);
}
.fa-car {
    color: #fbc02d;
}
#home-heading {
    text-align: center;
}
hr.style {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;  
}
hr.style:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/*Nav Styling ---------------------------*/
#brand-logo {
    font-family: 'Amita', cursive;
    font-size:25px;
    color:white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}
.basket {
    margin-top: 12px;
    margin-right: 12px;
    color: gold;
    text-shadow: 1px 1px 0px black, 4px 4px 0px rgba(0,0,0,0.15);
}

/*Primary button ------------------------*/
#gold-button {
    border: 1px solid gold;
    box-shadow: 1px 1px 5px, inset 0 0 0 2000px rgba(0,0,0, 0.892);
}



/* Menu styling ----------------------------- */
#menu {
    background:  rgba(247, 247, 247, 0.8); 
}
#basket-dropdown {
    display: none;
    background:  rgba(247, 247, 247, 0.7); 
    position: absolute;
    z-index: 100;
    top: 5%;
    right: 3.5%;
}
.nextMenu {
    margin: 30px;
}
.remove {
    color: gold;
    text-shadow: 1px 1px 0px black, 4px 4px 0px rgba(0,0,0,0.15);
    margin-right: 12px;
    cursor: pointer;
}
@media only screen and (max-width: 1400px) {
    #basket-dropdown {
        top: 5%;
        right: 4.5%;
    }
}
@media only screen and (max-width: 900px) {
    #basket-dropdown {
        top: 5%;
        right: 6%;
    }
}
@media only screen and (max-width: 600px) {
    #basket-dropdown {
        top: 5%;
        right: 7%;
    }
}

/* Form and field styling ----------------------------- */
#accountForm label {
    color:black !important; 
    opacity: .99 !important;
}
/* Text Inputs ------------*/

 .input-field input:focus + label {
   color: #fbc02d !important;
 }

.material-icons.active {
  color: #fbc02d !important;
}

 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #fbc02d !important;
   box-shadow: 0 1px 0 0 #fbc02d !important;
 }

#deactivator {
    color: #fbc02d;
    text-shadow: 1px 1px 0px black, 1px 1px 0px rgba(0,0,0,0.15);
    padding-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}

