/* Styling for application -------------------*/
html {
    background: url(../images/background-blur.jpg) no-repeat center center fixed;
    /*cross browser styling*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Home content styling -------------------- */
#home-content {
    margin-top: 14%;
}
/*card styling ----------------------------*/
.card {
    border: 1px solid gold;
}
.card-content {
    box-shadow: 3px 3px 20px, inset 0 0 0 2000px rgba(212,175,55, 0.892);
}
#card-image {
    height: 153px;
}
/*Text styling ---------------------------*/
h2,.card-title {
    font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color:gold;
    text-shadow: 1px 1px 0px black, 4px 4px 0px rgba(0,0,0,0.15);
  }
#home-heading {
    text-align: center;
}
/*TO DO */
/*Nav Styling ---------------------------*/
#brand-logo {
    font: 400 30px/1.8 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}
#nav-background {
    border-bottom: 1px solid gold;
    box-shadow: 1px 0px 0px, inset 0 0 0 2000px rgba(212,175,55, 0.892)
}

/* Secondary Background */

/* font styling */

/*Primary button */
#gold-button {
    border: 1px solid gold;
    box-shadow: 1px 1px 5px, inset 0 0 0 2000px rgba(212,175,55, 1.0);
}

/*Secondary button */

/*Cancel button */

/*Card styling */




/* Shit */ 

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#headtext {
  font-family: 'Cinzel', serif;
  padding-top:20%;
}

#mainbody {
  font-family: 'Cinzel', serif;
}
