<!DOCTYPE html>
<html lang="en">

<head>
    <!--This will be our header file for each page-->
    <meta charset=”UTF-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
    <meta name=”viewport” content=”width=device-width, initial-scale=1">
    
    <title>Luxury a la Carte</title>

    <!--Styling-->
    <link href="/css/index-style.css" rel="stylesheet" type="text/css">
    <!-- Decided font here-->
    <!--HEading font-->
    <link href="https://fonts.googleapis.com/css?family=Amita:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!--MATERIALIZE Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">   

    <!-- 
    'Paralax' utility taught by: https://www.w3schools.com/howto/howto_css_parallax.asp
    --> 
   
</head>

<body>
  <div id="index-banner" class="parallax-container">
        <div class="header center" style="padding-top:5%;">
            <img class="responsive-img" src="../images/carte.png">
        </div>

    <!-- Text content in Parralax moving image container -->
    <div class="section no-pad-bot">
      <div class="container" id="headtext">
      </div>
    </div>

    <!-- Paralax contains the moving background image.  -->
    <div class="parallax"><img src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container" id="mainbody">
    <div class="section">

      <!--   Links Section   -->
      <div class="row">

        <!--   Item 1   -->
        <div class="col s12 m4">
          <div class="icon-block" id="menu">
            <h2 class="center dark-text"><i class="material-icons">room_service</i></h2>
            <a href="menu" class="black-text"><h5 class="center">Menu</h5></a>
            <p class="center light" id="blurb">Peruse our fine dishes before logging in or registering to our site.</p>
          </div>
        </div>

        <!--   Item 2   -->
        <div class="col s12 m4">
          <div class="icon-block" id="login">
            <h2 class="center dark-text"><i class="material-icons">group</i></h2>
            <a href="login" class="black-text"><h5 class="center">Login</h5></a>
            <p class="center light">Login to our site in order to access orders, baskets, and favorites.</p>
          </div>
        </div>

        <!--   Item 3   -->
        <div class="col s12 m4">
          <div class="icon-block" id="about">
            <h2 class="center dark-text"><i class="material-icons">whatshot</i></h2>
            <a href="about" class="black-text"><h5 class="center">About Us</h5></a>
            <p class="light center">Luxury A La Carte provides fantastic meals around the world. Click here to read more!.</p>
          </div>
        </div>

       <!-- Bottom text card --> 
      </div>
      <div class="row">
       <div class="col s12 m12">
        <hr class="style-two">
        <div class="container center" id="smalltext">
          <div class="center-align">
            <div class="row">
              <div class="col s6 m6 offset-m3">
                <div class="icon-block">
                  <h2 class="center dark-text"><i class="material-icons">favorite</i></h2>
                  <p class="center light" id="blurb">Luxury A La Carte provides fantastic meals from fantastic chefs, wherever and whenever you'd like. Enjoy pleasure, on your plate.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
