<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
  <div class="container" id="smalltext">
    <div class="center-align">
      <div class="row">
        <div class="col s6 m6 offset-m3">
         <div class="card-panel grey lighten-2" style="opacity:0.8;">
            <h4>Login</h4>
            <p class="center light" id="blurb">Hey here's some dummy text at the top of the login 
            screen.</p>
  			<div class="row">
    		 <form class="col s12" method="POST">
     			<div class="row">
        		 <div class="input-field col s6">
          		  <i class="material-icons prefix">account_circle</i>
          		  <input id="icon_prefix" type="text" name="username" class="validate">
          		  <label for="icon_prefix">Username</label>
        	     </div>
        	    <div class="input-field col s6">
          		 <i class="material-icons prefix">priority_high</i>
          		 <input id="icon_telephone" type="Password" name="password" class="validate">
          		 <label for="icon_telephone">Password</label>
       		    </div>
      		   </div>
                 <button type="submit"><a class="waves-effect yellow darken-2 waves-yellow btn" id="loginbtn">Login</a></button>
             </form>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include ../partials/scripts.ejs %>
    
</body>
</html>