<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>


<body>

<h1>Login</h1>

<form action="/login" method="post">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password">
    <input id="submit" type="submit" value="Submit">
</form>






<% include ../partials/scripts.ejs %>
    
</body>
</html>