<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<style>
        html {
            background: url(../images/background.jpg) no-repeat center center fixed;
            /*cross browser styling*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
</style>        
<% include ../partials/nav.ejs %>
<body>
<% if (ejsData.chef != undefined) { %>
<% include ../partials/menu-chef.ejs %>
<%} else if (ejsData.decor != undefined) { %>
<% include ../partials/menu-decor.ejs %>
<%} else { %>
<% include ../partials/menu-columns.ejs %>
<% } %>
<% include ../partials/scripts.ejs %>
    
</body>
</html>
