<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<style>
        html {
            background: url(../images/background.jpg) no-repeat center center fixed;
            /*cross browser styling*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
</style>        
<% include ../partials/nav.ejs %>
<body>
<% include ../partials/menu-columns.ejs %>

<% include ../partials/scripts.ejs %>
    
</body>
</html>
