
<div id="nav" class="row">
        <div class="col s12">
                <a href="/" id="brand-logo" class="brand-logo">Luxury a la Carte</a>
        </div>
        </div>
        <div id="menu-content" class="container">
        <div class="row">
            <h2 id="home-heading">About Our Company</h2>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1">
                
                <div id="about-card" class="card">
                  <div class="card-content">
                    <a class="card-title" style="text-align:center"><p>What do we believe in?</p></a>
                    <p>Here at Luxury A La Carte, we find value in bringing an authentic, high-class dining experience to our members in the comfort of their own homes. Our wide variety of cuisine and talented chefs serve culinary masterpieces for every order, and our array of decor can set the perfect mood for any occasion</p>
                    <br><br>
                    <p style="text-align:center">Luxury A La Carte - Dine in Style.</p>
                  </div>

                  <div class="row">
                      <div class="col s12">
                        <ul class="tabs" id="about-content">
                          <li class="tab col s3"><a class="active yellow-text text-darken-2" href="#test1">Our Staff</a></li>
                          <li class="tab col s3"><a href="#test2">Our Food</a></li>
                          <li class="tab col s3"><a href="#test3">Our Decor</a></li>
                          <li class="tab col s3"><a href="#test4">Our History</a></li>
                        </ul>
                      </div>

                      <div id="test1" class="col s12" style="padding-right: 5%; padding-left: 5%;">
                      <br>
                        <!-- Row for opener-->
                        <div class="row">
                        <div class="col s12">
                        <span class="black-text">
                            <p> Our staff are some of the most talented people in the world, cultivated from a wide selection of michelin-star workers and culinary geniuses.</p>
                        </span>
                        </div>
                        </div>

                        <!-- Row -->
                        <div class="row">
                        <div class="col s2">
                            <img src="images/samurai.jpg" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                        <span class="black-text">
                            <h5> Sam Virvine </h5>
                            <p>Sam, a former japanese culture enthusiast and full-time manga reader has graced our kitchens with his fantastic skills in making California Roll sushi.</p>
                        </span>
                        </div>
                        </div>

                        <!-- Row -->
                        <div class="row">
                        <div class="col s2">
                            <img src="images/french.jpg" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                        <span class="black-text">
                            <h5> Luke Slandrows </h5>
                            <p>A man of heavy culture and even heavier accent, Luke Slandrows personally mixes every blend of spices used in all of our dishes. He's well-versed in latin, and enjoys reading romance novels.</p>
                        </span>
                        </div>
                        </div>

                        <!-- Row -->
                        <div class="row">
                        <div class="col s2">
                            <img src="images/amish.jpg" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                        <span class="black-text">
                            <h5> Sean Murrick </h5>
                            <p>Sean specializes in the creation of pasta and various types of meat sourced from ehically sound labour camps in the rainforest. He's also the janitor.</p>
                        </span>
                        </div>
                        </div>

                        <!-- Row -->
                        <div class="row">
                        <div class="col s2">
                            <img src="images/elvis.jpg" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                        <span class="black-text">
                            <h5> Wherelong Wu </h5>
                            <p>An traditionalist at heart, Wherelong's focus is on local luxury food, a passion he takes to with extreme dedication. A seven time gourmand award winner, he's a fan of Rock n' Roll, and manages the kitchen.</p>
                        </span>
                        </div>
                        </div>

                      

                      </div>

                      <div id="test2" class="col s12" style="padding-right: 5%; padding-left: 5%;">
                        <div class="row">
                        <div class="col s12">
                        <span class="black-text">
                            <div class="center">
                               <h5> About Our Food </h5>
                               <img class="ressponsive-img" src="images/food.jpg">
                            </div>
                            <p> The food of Luxury A La Carte is always sourced from the most ethically sound locations, and is always as fresh as possible, in order to provide our customers with an increased sense of luxury. Everything is fair trade, and even the most expensive of our selection is picked with care, with a percentage of the proceeds contributing to the End World Hunger foundation.</p>
                            <p> If you'd like to help out in the sourcing of new products, or if you'd like to help out, please let us know! We are always on the lookout for more chefs, producers, and deliveries.</p>
                        </span>
                        </div>
                        </div>
                      </div>

                      <div id="test3" class="col s12" style="padding-right: 5%; padding-left: 5%;">
                          <div class="row">
                          <div class="col s12">
                          <span class="black-text">
                              <div class="center">
                              <h5> About Our Decor </h5>
                                 <img class="ressponsive-img" src="images/decor.jpg">
                              </div>
                              <p> The decor of Luxury A La Carte is hand-selected by a council of artisans from around the world, experts in the field of high-class cuisine environmental design. The selection tends to rotate as we please, resulting in different experiences with every visit, for those who desire it. .</p>
                              <p> We are always looking for new furniture styles to incorperate into our company, so be on the look out for new additions!.</p>
                          </span>
                          </div>
                          </div>
                        </div>
                      


                      <div id="test4" class="col s12" style="padding-right: 5%; padding-left: 5%;">

                        <p> Founded in 2018 by four broke college students, Luxury A La Carte has since blossomed into a multi-hundred dollar company with four chefs and a group of dedicated website workers. The company started with one dream, and that was to eventually earn a Michelin Star. We're still waiting, but it'll happen someday!.</p>


                        <p> In the meantime, we're often looking for employees and seek someone to help balance our books. Cheers!.</p>
                      </div>
                      </div>


                    </div>
                </div>
            </div>
        </div>
            
<script>
$(document).ready(function() {
    $('.tabs').tabs({
        onShow: function(event, ui) {
        formID = $('ul.tabs li a.active').html();
        },
      swipeable: true
    });
});


</script>

<style>

.tabs .tab a {
  color: black;
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color:rgba(251,192,45);
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color:rgba(251,192,45);;
  /*Custom Text Color While Active*/
  background-color: rgba(251,192,45,0.1);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color:rgba(251,192,45);
  /*Custom Color Of Indicator*/
}

.about-content {
    font-family: 'Amita', cursive;
}
</style>


        </div>
    </div>
</div>