
<div id="nav" class="row">
        <div class="col s12">
                <a href="/" id="brand-logo" class="brand-logo">Luxury a la Carte</a>
        </div>
        </div>
        <div id="menu-content" class="container">
        <div class="row">
            <h2 id="home-heading">About Our Company</h2>
        </div>

        <div class="row">
            <div class="col s12 m10 offset-m1">
                
                <div id="about-card" class="card">
                  <div class="card-content">
                    <a class="card-title" style="text-align:center"><p>What do we believe in?</p></a>
                    <p>Here at Luxury A La Carte, we find value in bringing an authentic, high-class dining experience to our members in the comfort of their own homes. Our wide variety of cuisine and talented chefs serve culinary masterpieces for every order, and our array of decor can set the perfect mood for any occasion</p>
                    <br><br>
                    <p style="text-align:center">Luxury A La Carte - Dine in Style.</p>
                  </div>

                  <div class="row">
                      <div class="col s12">
                        <ul class="tabs" id="about-content">
                          <li class="tab col s3"><a class="active yellow-text text-darken-2" href="#test1">Our Staff</a></li>
                          <li class="tab col s3"><a href="#test2">Our Food</a></li>
                          <li class="tab col s3"><a href="#test3">Our Decor</a></li>
                          <li class="tab col s3"><a href="#test4">Our History</a></li>
                        </ul>
                      </div>

                      <div id="test1" class="col s12" style="padding-right: 5%; padding-left: 5%;">
                      <br>
                        <!-- Row for opener-->
                        <div class="row">
                        <div class="col s12">
                        <span class="black-text">
                            <p> Our staff are some of the most talented people in the world, cultivated from a wide selection of michelin-star workers and culinary geniuses.</p>
                        </span>
                        </div>
                        </div>

                        <!-- Row -->
                        <div class="row">
                        <div class="col s2">
                            <img src="https://i.imgur.com/kU5YT2P.jpg" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                        <span class="black-text">
                            <h5> Sam Irvine </h5>
                            <p>Sam, a former japanese culture enthusiast and full-time manga reader has graced our kitchens with his fantastic skills in making California Roll sushi.</p>
                        </span>
                        </div>
                        </div>

                        <!-- Row -->
                        <div class="row">
                        <div class="col s2">
                            <img src="https://i.imgur.com/kU5YT2P.jpg" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                        <span class="black-text">
                            <p> Our staff are some of the most talented people in the world, cultivated from a wide selection of michelin-star workers and culinary geniuses.</p>
                            <p> This guy? He's the Dhali Lama </p>
                        </span>
                        </div>
                        </div>

                        <!-- Row -->
                        <div class="row">
                        <div class="col s2">
                            <img src="https://i.imgur.com/kU5YT2P.jpg" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s10">
                        <span class="black-text">
                            <p> Our staff are some of the most talented people in the world, cultivated from a wide selection of michelin-star workers and culinary geniuses.</p>
                            <p> This guy? He's the Dhali Lama </p>
                        </span>
                        </div>
                        </div>

                      

                      </div>

                      <div id="test2" class="col s12" style="padding-right: 5%; padding-left: 5%;">Test 2

                      </div>

                      <div id="test3" class="col s12" style="padding-right: 5%; padding-left: 5%;">Test 3

                      </div>

                      <div id="test4" class="col s12" style="padding-right: 5%; padding-left: 5%;">

                      Test 4
                      </div>


                    </div>
                </div>
            </div>
        </div>
            
<script>
$(document).ready(function() {
    $('.tabs').tabs({
        onShow: function(event, ui) {
        formID = $('ul.tabs li a.active').html();
        },
      swipeable: true
    });
});

$(document).ready(function(){

   Materialize.toast('I am Alert', 4000)

});

</script>

<style>

.tabs .tab a {
  color: black;
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color:rgba(251,192,45);
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color:rgba(251,192,45);;
  /*Custom Text Color While Active*/
  background-color: rgba(251,192,45,0.1);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color:rgba(251,192,45);
  /*Custom Color Of Indicator*/
}

.about-content {
    font-family: 'Amita', cursive;
}
</style>


        </div>
    </div>
</div>