<div class="container">
        <div class="row">
            <h2 id="home-heading">Order Confirmed</h2>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
               <div id="menu" class="card">

                <a class="card-title" style="text-align:center"><p>We're on our way!</p><p style="height:25px;"><i class="fas fa-car fa-2x center"></i></p></a>
                <hr class="style">
                <div>
                    <table class="highlight centered">
                        <thead class="basket" >
                        <th>Item</th>
                        <th>Price</th>
                        </thead>
                        <tbody>
                            <%
                            let total = 0;
                            if (ejsData != undefined){
                            if (ejsData.length > 0) { %>
                            <% for(var i=0; i < ejsData.length; i++) { %>
                                <%total += parseFloat(ejsData[i].price.substring(1)); %>
                                <tr>
                                    <td><%- ejsData[i].item %></td>
                                    <td><%- ejsData[i].price %></td
                                </tr>
                            <% } } } %>
                        </tbody>
                    </table>
                    <h5 class="center">Total Paid: <span style="color:black;">$<%-total %></span></h2>
                </div>
                <div class="nextMenu center">
                    <a href="/home" id="gold-button" class="waves-effect waves-light btn-small"> Return to Home <i class="fas fa-home right"></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>