<div id="home-background">
    <div id="home-content" class="container">
        <div class="row">
            <!--Home page title-->
            <h2 id="home-heading">Luxury a la Carte</h2>

        </div>
        <div class="row">

            <div class="col s12 m6 l4">
                <!--Menu Card-->
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img id="card-image" class="activator" src="/images/order.jpg">
                    </div>
                    <!--Title of the Menu card-->
                    <div class="card-content home-card">
                        <span class="card-title activator grey-text text-darken-4">Menu<i class="fas fa-utensils right"></i></span>
                        <p><a href="/menu" id="gold-button" class="waves-effect waves-light btn-small">View Menu <i class="fas fa-utensils right"></i></a></p>
                    </div>
                    <!--This will contain the menu card's hidden content-->
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">The Menu<i class="material-icons right">close</i></span>
                        <p>Information avaliable to the user about the menu options</p>
                    </div>
                </div>    
                
            </div>
            <div class="col s12 m6 l4">
                    <!--Basket card-->
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img id="card-image" class="activator" src="/images/basket.jpg">
                        </div>
                        <!--Title of the basket card-->
                        <div class="card-content home-card">
                            <span class="card-title activator grey-text text-darken-4">Basket<i <i class="fas fa-shopping-basket right"></i></span>
                            <!-- Take the user to the basket page-->
                            <p><a href="/basket" id="gold-button" class="waves-effect waves-light btn-small">Your Basket <i class="fas fa-shopping-basket right"></i></a></p>
                        </div>
                        <!--Reveals the hiddent content to the user-->
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Your Basket<i class="material-icons right">close</i></span>
                            <p>This will be your homepage basket it will contain all of the items you have ordered thus far.</p>
                        </div>
                    </div>    
                </div>
            
            <div class="col s12 m6 l4 offset-m3">
                <!--Order Card-->
                    <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img id="card-image" class="activator" src="/images/profile.jpg">
                            </div>
                            <!--Order Card title-->
                            <div class="card-content home-card">
                                <span class="card-title activator grey-text text-darken-4">Account<i class="fas fa-user-alt right"></i></span>
                                <p>
                                    <a href="/account" id="gold-button" class="waves-effect waves-light btn-small">Manage <i class="fas fa-user-alt right"></i></a>
                                    <a href="/logout" id="gold-button" class="waves-effect waves-light btn-small right">Logout <i class="fas fa-sign-out-alt right"></i></a>
                                </p>
                            </div>
                            <!--Hidden card content-->
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Your Account<i class="material-icons right">close</i></span>
                                <p>this could contain your current order or favourite orders</p>
                            </div>
                        </div>    
                
            </div>
        </div>

    </div>
</div>