<div id="nav" class="row">
        <div class="col s12">
                <a href="/home" id="brand-logo" class="brand-logo">Luxury a la Carte</a>
                <!--TO DO: Dynamic Basket-->
                <a href="#"><i class="fas fa-shopping-basket fa-2x right basket"></i></a>
        </div>
    </div>