<nav>
    <div id="nav-background" class="nav-wrapper">
        <a href="#" id="brand-logo" class="brand-logo">Luxury a la Carte</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--TO DO: Dynamic Basket-->
            <li><a href="#"><i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </div>
</nav>